<div class="card">
  <div class="card-top">
    <img [src]="movie.imageUrl" [alt]="movie.title" />
    <video
      class="preview-video"
      #videoPlayer
      *ngIf="isVideoPlaying"
      src="assets/detail.mp4"
      [class.fade-out]="isVideoFadingOut"
      playsinline
      muted
    ></video>
    <div class="media-info-wrapper" *ngIf="isVideoPlaying" [class.fade-out]="isVideoFadingOut">
      <img src="assets/logo.png" alt="Logo" />
      <app-icon-button
        variant="primary"
        [icon]="icon"
        (click)="onButtonClick(); $event.stopPropagation()"
      >
      </app-icon-button>
    </div>
  </div>
  <div class="card-bottom" (click)="onRequestOpenModal()">
    <div class="controls-wrapper">
      <div class="controls">
        <app-icon-button variant="secondary" icon="play.svg" (click)="$event.stopPropagation()">
        </app-icon-button>
        <app-icon-button
          variant="primary"
          tooltip="Meiner Liste hinzufügen"
          icon="add.svg"
          (click)="$event.stopPropagation()"
        >
        </app-icon-button>
        <app-rating-buttons (click)="$event.stopPropagation()"></app-rating-buttons>
      </div>
      <app-icon-button variant="primary" tooltip="Folgen und Infos" icon="down.svg">
      </app-icon-button>
    </div>
    <div class="meta-data">
      <span class="fsk">12</span>
      <span class="duration">9 Staffeln</span>
      <span class="quality">HD</span>
      <img class="audio-icon" src="assets/icons/3d-audio.svg" alt="" />
    </div>
    <div class="evidence-list">
      <span class="evidence-text">Düster</span>
      <div class="evidence-item">
        <span class="evidence-separator"></span>
        <span class="evidence-text">Mystery</span>
      </div>
      <div class="evidence-item">
        <span class="evidence-separator"></span>
        <span class="evidence-text">Forensik</span>
      </div>
    </div>
  </div>
</div>
