@use "./variables" as var;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var.$background;
  color: var.$white;
}

@media (max-width: 500px) {
  body {
    background-color: var.$black;
  }
}
