$background: #141414;
$white: #fff;
$black: #000;
$header-color: #e5e5e5;
$header-color-hover: #b3b3b3;
$tooltip-color: #e6e6e6;
$border-color-rating: #dcdcdc;
$card-color: #181818;
$rating-color: #232323;
$meta-data-color: #bcbcbc;
$dropdown-color: #242424;
$dropdown-border-color: #4d4d4d;
