@use "../../shared/styles/mixins" as m;
@use "../../shared/styles/variables" as var;

:host {
  display: block;
  height: 100%;
}

.content-rows-viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* contain: unset; */
}
