<app-hero-banner [heroMovie]="heroMovie"></app-hero-banner>
<cdk-virtual-scroll-viewport itemSize="350" class="content-rows-viewport">
  <app-content-row
    *cdkVirtualFor="let row of contentRows; trackBy: trackByRow"
    [rowTitle]="row.rowTitle"
    [items]="row.items"
    [displayMode]="row.displayMode || 'default'"
    (openModal)="handleOpenModal($event)"
  >
  </app-content-row>
</cdk-virtual-scroll-viewport>
<app-detail-modal
  *ngIf="selectedMediaForModal"
  [modalPayload]="selectedMediaForModal"
  (closeModal)="closeModal()"
>
</app-detail-modal>
