<main *ngIf="movie && movie.imageSet">
  <img [src]="movie.imageSet.logoUrl" [alt]="movie.title + ' Logo'" />
  <p class="overview">{{ movie.overview }}</p>
  <div
    class="keywords-wrapper"
    *ngIf="movie.keywords && movie.keywords.length > 0"
  >
    <ng-container
      *ngFor="let keyword of movie.keywords.slice(0, 3); let isLast = last"
    >
      <span class="keyword">{{ keyword.name }}</span>
      <span *ngIf="!isLast" class="separator"></span>
    </ng-container>
  </div>
  <div class="button-wrapper">
    <a href="">
      <app-action-button variant="primary" icon="play.svg" text="Abspielen">
      </app-action-button>
    </a>
    <a href="">
      <app-action-button
        variant="secondary"
        icon="info.svg"
        text="Weitere Infos"
      >
      </app-action-button>
    </a>
  </div>
</main>
