<main>
  <img src="assets/test2.webp" alt="" />
  <p>
    Nerd-Alarm! Ihre neue Nachbarin, eine angehende Schauspielerin, fordert die Sozialkompetenzen
    der Physiker Leonard und Sheldon und deren Kumpels Howard und Raj heraus.
  </p>
  <div class="button-wrapper">
    <a href="">
      <app-action-button variant="primary" icon="play.svg" text="Abspielen"> </app-action-button>
    </a>
    <a href="">
      <app-action-button variant="secondary" icon="info.svg" text="Weitere Infos">
      </app-action-button>
    </a>
  </div>
</main>
