<div class="slider-control">
  <button class="nav prev" *ngIf="showPrevButton" (click)="scrollLeft()">
    <span>&#10094;</span>
  </button>
  <div
    class="slider-content"
    [class.no-transition]="!transitionEnabled"
    [style.transform]="transform"
    (transitionend)="onTransitionEnd()"
  >
    <app-movie-card
      *ngFor="let movie of displayItems; let i = index"
      [movie]="movie"
      [isFirst]="isFirst(i)"
      [isLast]="isLast(i)"
      (hoverStateChange)="onCardHoverChange($event)"
    >
    </app-movie-card>
  </div>
  <button class="nav next" (click)="scrollRight()">
    <span>&#10095;</span>
  </button>
</div>
