<main [class.is-row-hovered]="isRowHovered">
  <app-row-header
    [title]="rowTitle"
    [displayMode]="displayMode"
    [totalPages]="(sliderTotalPages$ | async) ?? 0"
    [currentPage]="((sliderTotalPages$ | async) ?? 0) > 0 ? ((sliderCurrentPage$ | async) ?? 0) : 0"
  >
  </app-row-header>
  <app-slider-control
    [items]="items"
    [scrollMode]="displayMode"
    (rowHoverStateChange)="onCardHoverChange($event)"
    (pagesInitialized)="onPagesInitialized($event)"
    (pageChange)="onPageChange($event)"
  >
    <ng-template #itemTemplate let-item let-i="index" let-isFirst="isFirst" let-isLast="isLast">
      <app-interactive-card
        [movie]="displayMode === 'ranked' ? item.movie : item"
        [isFirst]="isFirst"
        [isLast]="isLast"
        (hoverStateChange)="onCardHoverChange($event)"
        (openModal)="onOpenModal($event)"
      >
        <ng-container *ngIf="displayMode === 'default'">
          <app-title-card
            [imageUrl]="imageBaseUrl + item.backdrop_path"
            [title]="item.title"
            [logoUrl]="item.logoUrl ? imageBaseUrl + item.logoUrl : ''"
          >
          </app-title-card>
        </ng-container>
        <ng-container *ngIf="displayMode === 'ranked'">
          <app-ranked-card [item]="item" [imageBaseUrl]="imageBaseUrl"> </app-ranked-card>
        </ng-container>
      </app-interactive-card>
    </ng-template>
  </app-slider-control>
</main>
