<main [class.is-row-hovered]="isRowHovered">
  <app-row-header
    [title]="rowTitle"
    [displayMode]="displayMode"
    [totalPages]="sliderTotalPages"
    [currentPage]="sliderCurrentPage"
  >
  </app-row-header>
  <app-slider-control
    [items]="items"
    [scrollMode]="displayMode"
    (rowHoverStateChange)="onCardHoverChange($event)"
    (pagesInitialized)="onPagesInitialized($event)"
    (pageChange)="onPageChange($event)"
  >
    <ng-template #itemTemplate let-movie let-i="index" let-isFirst="isFirst" let-isLast="isLast">
      <app-interactive-card
        [movie]="movie"
        [isFirst]="isFirst"
        [isLast]="isLast"
        (hoverStateChange)="onCardHoverChange($event)"
        (openModal)="onOpenModal($event)"
      >
        <ng-container *ngIf="displayMode === 'default'">
          <app-title-card [movie]="movie"></app-title-card>
        </ng-container>
        <ng-container *ngIf="displayMode === 'ranked'">
          <app-ranked-card [item]="movie"></app-ranked-card>
        </ng-container>
      </app-interactive-card>
    </ng-template>
  </app-slider-control>
</main>
