@use '../../../shared/styles/mixins' as m;
@use '../../../shared/styles/variables' as var;

main {
  position: relative;
  @include m.column-center-start;
  height: 26vw;
  margin: -3vw 0 -10vw;
  gap: 10px;
  z-index: 1;
  --icon-opacity: 0;
  --icon-transform: translateX(-0px);
  --text-opacity: 0;
  overflow: hidden;
  .slider {
    position: relative;
    @include m.start-center;
    margin: 0;
  }
  &:hover {
    --icon-opacity: 1;
    --icon-transform: translateX(0);
    --text-opacity: 0;
    .slider-control .nav {
      opacity: 1;
    }
  }
  &.is-row-hovered {
    z-index: 2;
  }
}
