@use '../../../shared/styles/mixins' as m;
@use '../../../shared/styles/variables' as var;

/* img[alt='Hero Image'] {
  opacity: 0;
}
.fade-in {
  opacity: 1 !important;
}
.fade-out {
  opacity: 0 !important;
} */

main {
  position: relative;
  @include m.center;
  height: 39.75vw;
  width: 100%;
  top: 0;
  background-color: var.$black;
  video,
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56.25vw;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  .trailer-vignette {
    position: absolute;
    top: 0;
    bottom: -17vw;
    right: 26.09%;
    left: 0;
    background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
    transition: opacity 0.5s;
    opacity: 1;
  }
  .hero-vignette {
    position: absolute;
    bottom: -17vw;
    height: 14.7vw;
    top: auto;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 8%, 0) 0,
      hsla(0, 0%, 8%, 0.15) 15%,
      hsla(0, 0%, 8%, 0.35) 29%,
      hsla(0, 0%, 8%, 0.58) 44%,
      #141414 68%,
      #141414
    );
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    opacity: 1;
  }
}

@media (min-width: 500px) {
  /* main {
  } */
}
