<div class="card">
  <div class="card-top">
    <!-- <img [src]="movie.backdropUrl || imageBaseUrl + movie.poster_path" [alt]="movie.title" /> -->
    <!-- <video
      class="preview-video"
      #videoPlayer
      *ngIf="isVideoPlaying"
      src="assets/detail.mp4"
      [class.fade-out]="isVideoFadingOut"
      playsinline
      muted
    ></video>  -->
    <div class="media-info-wrapper" [class.fade-out]="isVideoFadingOut">
      <!-- <img [src]="imageBaseUrl + movie.logoUrl" alt="{{ movie.title }} Logo" /> -->
      <app-icon-button
        variant="primary"
        [icon]="icon"
        (click)="onButtonClick(); $event.stopPropagation()"
      >
      </app-icon-button>
    </div>
  </div>
  <div class="card-bottom" (click)="onRequestOpenModal()">
    <div class="controls-wrapper">
      <div class="controls">
        <app-icon-button variant="secondary" icon="play.svg" (click)="$event.stopPropagation()">
        </app-icon-button>
        <app-icon-button
          variant="primary"
          tooltip="Meiner Liste hinzufügen"
          icon="add.svg"
          (click)="$event.stopPropagation()"
        >
        </app-icon-button>
        <app-rating-buttons (click)="$event.stopPropagation()"></app-rating-buttons>
      </div>
      <app-icon-button variant="primary" tooltip="Folgen und Infos" icon="down.svg">
      </app-icon-button>
    </div>
    <div class="meta-data">
      <!-- <span class="fsk">{{ movie.certification || 'k.A.' }}</span> -->
      <span class="duration">{{ formattedRuntime }}</span>
      <span class="quality">HD</span>
      <img *ngIf="show3DAudio" class="audio-icon" src="assets/icons/3d-audio.svg" alt="3D Audio" />
    </div>
    <div class="evidence-list" *ngIf="movie.keywords && movie.keywords.length > 0">
      <span class="evidence-text">{{ movie.keywords[0].name }}</span>
      <ng-container *ngFor="let keyword of movie.keywords.slice(1)">
        <div class="evidence-item">
          <span class="evidence-separator"></span>
          <span class="evidence-text">{{ keyword.name }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
