<div class="card" *ngIf="movie && movie.imageSet">
  <div class="card-top">
    <img
      *ngIf="movie.imageSet"
      [src]="movie.imageSet.backdropUrl2"
      [alt]="movie.title"
    />
    <!-- <video
      class="preview-video"
      #videoPlayer
      *ngIf="isVideoPlaying"
      src="assets/detail.mp4"
      [class.fade-out]="isVideoFadingOut"
      playsinline
      muted
    ></video> -->
    <div class="media-info-wrapper" [class.fade-out]="isVideoFadingOut">
      <img
        *ngIf="movie.imageSet?.logoUrl"
        [src]="movie.imageSet.logoUrl"
        alt="{{ movie.title }} Logo"
        class="title-logo"
      />
      <app-icon-button
        variant="primary"
        [icon]="icon"
        (click)="onButtonClick(); $event.stopPropagation()"
      >
      </app-icon-button>
    </div>
  </div>
  <div class="card-bottom" (click)="onRequestOpenModal()">
    <div class="controls-wrapper">
      <div class="controls">
        <app-icon-button
          variant="secondary"
          icon="play.svg"
          (click)="$event.stopPropagation()"
        >
        </app-icon-button>
        <app-icon-button
          variant="primary"
          tooltip="Meiner Liste hinzufügen"
          icon="add.svg"
          (click)="$event.stopPropagation()"
        >
        </app-icon-button>
        <app-rating-buttons
          (click)="$event.stopPropagation()"
        ></app-rating-buttons>
      </div>
      <app-icon-button
        variant="primary"
        tooltip="Folgen und Infos"
        icon="down.svg"
      >
      </app-icon-button>
    </div>
    <div class="meta-data">
      <span class="fsk">{{ movie.fsk || "k.A." }}</span>
      <span *ngIf="isMovie(movie)" class="duration">{{
        formattedRuntime
      }}</span>

      <span *ngIf="isSeries(movie)" class="duration"
        >{{ movie.numberOfSeasons }} Staffeln</span
      >
      <span class="quality">HD</span>
      <img
        *ngIf="show3DAudio"
        class="audio-icon"
        src="assets/icons/3d-audio.svg"
        alt="3D Audio"
      />
    </div>
    <div class="evidence-list" *ngIf="movie.genres && movie.genres.length > 0">
      <span class="evidence-text">{{ movie.genres[0] }}</span>
      <ng-container *ngFor="let genre of movie.genres.slice(1); let i = index">
        <div class="evidence-item">
          <span class="evidence-separator"></span>
          <span class="evidence-text">{{ genre }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
