@use '../../../shared/styles/mixins' as m;
@use '../../../shared/styles/variables' as var;

header {
  position: fixed;
  @include m.start-center;
  top: 0;
  left: 0;
  min-height: 68px;
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
  padding: 0 4%;
  z-index: 2;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    img {
      width: 92.5px;
      height: 31px;
      margin-right: 25px;
    }
  }
  ul {
    @include m.center;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin-left: 20px;
      line-height: 1.2;
      cursor: pointer;
      a {
        font-size: 14px;
        /* font-size: .725vw; */
        transition: color 0.4s;
        text-decoration: none;
        color: var.$header-color;
        &:hover {
          color: var.$header-color-hover;
        }
        &.active-link {
          font-weight: 500;
          color: var.$white;
        }
      }
    }
  }
}
