<app-hero-banner
  *ngIf="heroMedia$ | async as hero"
  [heroMovie]="hero"
></app-hero-banner>
<div class="content-rows">
  <ng-container *ngIf="contentRows$ | async as rows">
    <app-content-row
      *ngFor="let row of rows; trackBy: trackByRow"
      [rowTitle]="row.rowTitle"
      [items]="row.items"
      [displayMode]="row.displayMode || 'default'"
      (openModal)="handleOpenModal($event)"
    >
    </app-content-row>
  </ng-container>
</div>
<app-detail-modal
  *ngIf="selectedMediaForModal"
  [modalPayload]="selectedMediaForModal"
  (closeModal)="closeModal()"
>
</app-detail-modal>
