@use '../../../shared/styles/mixins' as m;
@use '../../../shared/styles/variables' as var;

:host {
  ::ng-deep .rating-container app-icon-button button {
    border: none;
  }
}

.rating-wrapper {
  position: relative;
  display: inline-block;
  .placeholder {
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    .rating-container {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}

.rating-container {
  position: absolute;
  @include m.space;
  width: auto;
  top: -0.5vw;
  left: -3.6vw;
  background-color: var.$rating-color;
  border-radius: 3em;
  padding: 0.6vw;
  box-shadow:
    rgba(0, 0, 0, 0.6) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.5) 0px 8px 16px 0;
  gap: 0.5vw;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
