@use '../../../../../shared/styles/mixins' as m;
@use '../../../../../shared/styles/variables' as var;

:host {
  display: block;
}

.card-container {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  .card-logo {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    padding: 0.5em;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
