@use '../../../shared/styles/mixins' as m;
@use '../../../shared/styles/variables' as var;

button {
  position: relative;
  @include m.center;
  border: 0px;
  border-radius: 4px;
  padding: 0.8rem 2.4rem 0.8rem 2rem;
  margin: 0 1rem 1rem 0;
  gap: 10px;
  cursor: pointer;
  span {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
  }
  .btn-icon {
    @include m.center;
    height: 2.4rem;
    width: 2.4rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &.primary-btn {
    color: var.$black;
    background-color: var.$white;
    &:hover {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  &.secondary-btn {
    color: var.$white;
    background-color: rgba(109, 109, 110, 0.7);
    &:hover {
      background-color: rgba(109, 109, 110, 0.4);
    }
  }
}
